body {
  background: url("https://plus.unsplash.com/premium_photo-1677265809331-cab3587b3147?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2hvcHBpbmclMjBtb25leXxlbnwwfHwwfHx8MA%3D%3D");
}
.container {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.form input, .form button {
  margin: 5px;
  padding: 8px;
}

.search-bar {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  cursor: pointer;
}

.table-title {
  background-color: gray;
}
